html{
    box-sizing: border-box;
  }

/* Sets page font style and BG colour */
body {
    background-color: #aad4cf;
    margin-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-image: url("../images/lone-starfish-wide.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

header h1 {
    color: white;
    padding: 6rem;  
}
/* navigation menu display */
nav ul{
  padding-left: 0%;
}

nav li{
  display: inline-block;
  width: 33,3%;
  border-right-color: black;
}

/* Star image float */
img {
  width: 250px;
  padding: 0 20px 20px 20px;
  float:left;
}