html{
    box-sizing: border-box;
  }

/* Sets page font style and BG colour */
body {
    background-color: #aad4cf;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header img{
  width: 800px;
  padding-left: 0%;
}
header h1 {
    color: white;
    position: absolute;
    top: 150px;
    left: 380px;
}

nav, section, div{
  background-color: #d7f5f1;
}

/* navigation menu display */
nav ul{
  padding-left: 0%;
}

nav li{
  display: inline-block;
  width: 33,3%;
  border-right-color: black;
}

/* Star image float */
section img {
  width: 250px;
  padding: 0 20px 20px 20px;
  float:left;
}

/* adds text space between lines */
.float p{
  line-height: 1.6;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.facts ul{
  line-height: 1;
  font-size: small;
}

.form {
  border-style: solid;
}

.form p{
  padding-left: 10px;
}

footer{
  padding-right: 20px;
  text-align: right;
}