* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 5rem;
    margin-top: 15px;
    margin-bottom: 15px;
}
h2 {
    font-size: 3rem;
    margin-top: 15px;
    margin-bottom: 15px;
}
h3 {
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 15px;
}
p {
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 30px;
  }

.wrapper {
    padding-left: 0px;
    width: 90%;
    width: 760px;
}

ul {
    background-color: #222222;
    list-style-type: none;
    height: 494px;
    color: #c78b07;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input {
  width: 630px;
  height: 40px;
}

a:link, a:visited {
    color: #c78b07;
    text-decoration: none;
}

main img{
    width: 760px;
}

.welcome {
    position: absolute;
    top: 590px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    width: 760px;
}

.button1 {
    background-color: #c78b07;
    width: 30%;
    /* height: 80px; */
    color: #222222;
    padding: 32px 32px;
    text-align: center;
    font-size: 18px;
}

.about {
    background-color: #ffe6ac;
    padding: 15px;
}

.ourservices {
    background-color: #fff;
    margin-top: 10px;
    padding: 15px;
}

.container {
    background-color: #ffe6ac;
    /* padding: 15px; */
}

.container img{
    width: 730px;
}

.indent {
    padding-left: 15px;
    padding-bottom: 15px;
}

.button2 {
    background-color: #222222;
    width: 40%;
    padding: 32px 32px;
    color: white;
    text-align: center;
    font-size: 20px;
    display: inline-block;
}

article{
    background-color: #fff;
}

article img{
    width: 760px;
    height: 320px;
}

.vision{
    padding: 15px;
    color: white;
    position: absolute;
    top: 5700px;
    width: 760px;
}

.button3 {
    background-color: #0a2a46;
    width: 40%;
    padding: 40px 25px;
    color: white;
    border: 2px solid #c78b07;
    font-size: 20px;
    text-align: center;
}

.ourteam img{
    width: 745px;
}

.box2, .box4 {
    background-color: #ffe6ac;
    padding: 15px;
}

hr {
    border: 1px solid #c78b07;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    border-radius: 2px;
    margin: 6px 0;
    resize: none;
}

#message {
    height: 160px;
    margin-bottom: 15px;
}